<div class="container-field mt-3 mb-6">
  <div class="row justify-content-end mr-5">
    <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.label :会員氏名 %>
        <%= f.hidden_field :range, value: 'customer' %>
        <%= f.text_field :word, size: "13" %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "button1" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <h3><strong>会員一覧</strong></h3>
  </div>
 <%= render "public/customers/index", customers: @customers %>
</div>

<a href="#top" class="scroll-top-btn">
　<i class="fa-solid fa-circle-chevron-up fa-xl" style="color: #ec7322;"></i>
</a>