<div class="flash mt-2 text-center">
  <%= flash[:notice] %>
</div>

<div class="container-field mt-3 mb-6">
  <div class="row justify-content-center">
    <% if @customer.id == current_customer.id %>
      <h3><strong>マイページ</strong></h3>
     <% else %>
     <h3><strong><%= @customer.name %>さんのページ</strong></h3>
    <% end %>
  </div>

  <div class="row justify-content-center mt-2">
    <table>
      <tr>
        <th><h5>フォロー中</h5></th>
        <td><h5>
          <%= link_to customer_follows_customer_path(@customer) do %>
           <%= @customer.followers.count %>
          <% end %>
          </h5></td>
        <th><h5>フォロワー</h5></th>
        <td><h5>
          <%= link_to customer_followers_customer_path(@customer) do %>
           <%= @customer.followeds.count %>
          <% end %>
          </h5></td>
      </tr>
    </table>
  </div>

  <div class="row justify-content-center text-center mt-2">
   <% if current_customer != @customer %>
      <% if current_customer.following?(@customer) %>
        <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "button-unfollow" %>
      <% else %>
        <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class:"button-follow" %>
      <% end %>
    <% end %>
  </div>

<% if current_customer.email == 'guest@example.com' %>
<% else %>
  <div class="row justify-content-center mt-2">
    <% unless @customer.id == current_customer.id %>
     <% if @is_room.present? %>
       <%= link_to 'メッセージへ', room_path(@room_id), class:"button-message" %>
     <% else %>
       <%= form_with model: @room, url:rooms_path, local: true, method: :post do |f| %>
         <%= fields_for @entry do |e| %>
          <%= e.hidden_field :customer_id, value: @customer.id %>
          <%= f.submit "チャットを始める", class:"button-new" %>
         <% end %>
        <% end %>
      <% end %>
     <% end %>
  </div>
<% end %>

  <div class="row justify-content-center mt-2">
    <% if @customer.id == current_customer.id %>
      <%= link_to likes_path(@customer.id), class: "link" do %>
       <i class="fa-solid fa-heart fa-lg" style="color: #f53d0f;"></i>一覧ページ
      <% end %>
    <% end %>
  </div>

    <div class="row justify-content-center mt-3">
      <div class="col-7 text-center">
        <div class="p-3 box-shadow">
          <div class="content">
            <% if @customer.image.attached? %>
              <%= image_tag @customer.image, size: "200x200", style: "object-fit: cover; border-radius: 50%; border: 3px solid #99CCCC;" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "200x200", style: "object-fit: cover; border-radius: 50%; border: 3px solid #99CCCC;" %>
            <% end %>
          </div>

          <div class="content">
            <h5><strong>年齢</strong><%= @customer.age %>
            <strong class="ml-3">名前</strong><%= @customer.name %></h5>
          </div>

          <div class="content">
            <h5><strong>自己紹介</strong><br><%= @customer.body %></h5>
          </div>

          <div class="content">
            <% if @customer.id == current_customer.id %>
             <h5><strong>メールアドレス</strong><br><%= @customer.email %></h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @customer.id == current_customer.id %>
      <div class="row mt-3">
        <div class="col-2 offset-8">
         <%= link_to "編集する", edit_customer_path(@customer.id), class: "button-edit" %>
         <% if @customer.email == 'guest@example.com' %>
         <% else %>
          <p class="mt-2"><%= link_to "退会する", confirm_customer_path(@customer.id), class: "button-delete" %></p>
         <% end %>
        </div>
      </div>
    <% end %>

    <div class="row justify-content-center mt-4">
    <h3><strong>投稿一覧(<%= @restaurants.count %>件)</strong></h3>
  </div>
  <%= render "public/restaurants/index", restaurants: @restaurants %>
</div>

<a href="#top" class="scroll-top-btn">
　<i class="fa-solid fa-circle-chevron-up fa-xl" style="color: #ec7322;"></i>
</a>