<div class="container-field mt-3">
  <div class="row justify-content-center">
   <%= render 'public/messages/error_messages', message: @message %>
  </div>
</div>

<div class="flash mt-2 text-center" style="color: #FF0000">
  <%= flash[:notice] %>
</div>

<div class="container-field mt-3 mb-6">
  <div class="row justify-content-center mt-3">
    <h3><strong><%= @another_entry.customer.name %>さんとのメッセージ</strong></h3>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-5">
      <div class="message-body">
        <% @messages.each do |m| %>
          <% if m.customer_id == current_customer.id %>
            <div class="my-body">
              <div class="my-message">
                <%= m.message %>
              </div>
            </div>
          <% else %>
            <div class="other-body">
              <span class="ml-2">
                <% if m.customer.image.attached? %>
                 <%= image_tag m.customer.image, size: "35x35", style: "object-fit: cover; border-radius: 50%; border: 3px solid #f8f9fa;" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "35x35", style: "object-fit: cover; border-radius: 50%; border: 3px solid #f8f9fa" %>
                <% end %>
              </span>
              <div class="other-message">
                <%= m.message %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<div class="row justify-content-center mt-4">
  <%= form_with model: @message, url:messages_path, local: true, method: :post do |f| %>
   <%= f.text_area :message, size: "30×6" %>
   <%= f.hidden_field :room_id, value: @room.id %>
</div>
<div class="row justify-content-center mt-2">
 <%= f.submit "送信する", class: "button-new" %>
<% end %>
</div>
