<div class="container-field">
  <div class="top">
    <div class="main-image">
     <%= image_tag "kitchen-5055083_1280.jpg", class: "d-block w-100", alt: "..." %>
     <p class="center">Find Log Foods</p>
     <% if customer_signed_in? %>
       <p class="top-body">
         ようこそ！<br>
         料理と人が繋がれる場所へ！<br>
         さあ始めましょう！
       </p>
     <% else %>
       <p class="top-body">
         ログイン後にお店の投稿、検索が出来ます！<br>
         ヘッダーのリンクから各種ログイン、新規登録が可能です！<br>
         ※ゲストログイン時は投稿機能等、制限がかかっています。
       </p>
     <% end %>
    </div>
  </div>
</div>

  <% if customer_signed_in? %>
    <div class="row justify-content-center mt-4">
      <div class="content">
       <h3><strong>新着投稿(3件)</strong></h3>
      </div>
    </div>

    <div class="row justify-content-center my-3">
      <div class="col-9">
        <div class="row">
          <% @restaurants.each do |restaurant| %>
              <div class="col-4 mb-5">
                <div class="p-3 box-shadow">

                  <% if restaurant.customer_id == current_customer.id %>
                   <i class="fa-solid fa-user fa-sm" style="color: #26f734;"></i>
                  <% else %>
                  <i class="fa-solid fa-users"></i>
                  <% end %>

                  <div class="content text-center">
                    <%= link_to restaurant_path(restaurant.id) do%>
                      <% if restaurant.image.attached? %>
                        <%= image_tag restaurant.image, size: "215x150", style: "object-fit: cover; border: 3px solid #FFC7AF;" %>
                      <% else %>
                        <%= image_tag 'restaaurant_no_img.jpeg', size: "215x150", style: "object-fit: cover; border: 3px solid #FFC7AF;" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="content text-center">
                    <P><strong>店舗名</strong><br>
                    <%= link_to restaurant_path(restaurant.id) do%>
                    <%= restaurant.restaurant_name %>
                    <% end %><br>
                    <strong>料金</strong>   <%= restaurant.price.to_s(:delimited) %>円<br>
                    <strong>所在地</strong><br>
                    <%= restaurant.place %></p>
                  </div>
                  <div class="row justify-content-center">
                    <table>
                      <th>
                          <td id="like_buttons_<%= restaurant.id %>" >
                         <%= render "public/likes/like", restaurant: restaurant %></td>
                         <td>:コメント<%= restaurant.comments.count %>件</td>
                       </th>
                    </table>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>