<div class="row justify-content-center">
  <h3><strong>料理店一覧</strong></h3>
</div>

<div class="row justify-content-center">
  <div class="col-9">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
          <div class="col-4 mx-auto my-auto">
            <div class="content text-center">
              <%= link_to restaurant_path(restaurant.id) do%>
                <% if restaurant.image.attached? %>
                  <%= image_tag restaurant.image, size: "180x180" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "100x100" %>
                <% end %>
              <% end %>
            </div>
            <div class="content text-center">
              <P>店舗名<br>
              <%= link_to restaurant_path(restaurant.id) do%>
              <%= restaurant.restaurant_name %>
              <% end %><br>
              料金<br>
              <%= restaurant.price %>円<br>
              所在地<br>
              <%= restaurant.place %></p>
            </div>
            <div class="content text-center">
              <P>いいね・コメント</P>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>