<div class="container-field mt-3 mb-6">
  <div class="flash mt-2 text-center">
    <%= flash[:notice] %>
  </div>

  <div class="row justify-content-center">
    <% if @genre.errors.any? %>
      <ul class="alert alert-danger" role="alert">
        <h6 class="alert-heading">
          <%= @genre.errors.count %>件のエラーが発生しました
        </h6>
        <% @genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="row justify-content-center">
   <h3><strong>ジャンル一覧・追加</strong></h3>
  </div>


  <div class="row justify-content-center">
   <div class="mb-5 mt-3">
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <div class="mr-5 d-inline-block">ジャンル名</div>
      <div class="mr-5 d-inline-block"><%= f.text_field :name, placeholder: "ジャンル名" %></div>
      <%= f.submit "新規登録", class: "button-edit" %>
    <% end %>
   </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10 mt-2">
      <div class="row justify-content-center">
        <% @genres.each do |genre| %>
         <div class="col-3 mb-4">
           <div class="p-3 box-shadow">
             <div class="content text-center">
               <p><strong>ジャンルID</strong><%= genre.id %></p>
             </div>

             <div class="content text-center">
               <p><strong>ジャンル名</strong><br>
               <%= genre.name %></p>
             </div>

             <div class="content text-center">
               <p>
                 <%= link_to edit_admin_genre_path(genre.id) do %>
                  <botan class="button-edit">編集する</botan>
                 <% end %>
               </p>
             </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>