<div class="row justify-content-center">
  <div class="col-4 text-left">
    <% if @customer.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-center">
  <h3>会員ログイン</h3>
</div>

　<div class="row row justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-1">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="row justify-content-center mt-2">
        <%= f.submit "ログイン", class: "button-new" %>
      </div>

    <% end %>
   </div>
   <div class="row justify-content-center mt-3">
    <h5>未登録の方はこちら→<%= render "public/shared/links" %></h5>
   </div>